{% extends "base.html" %}
{% block body %}

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Add Host</h5>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-6">
              <input id="name" placeholder="Name" type="text" class="form-control">
          </div>
            <div class="col-md-6">
                <input id="ip_address" placeholder="IP Address" type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <input id="username" placeholder="Username" type="text" class="form-control">
          </div>
          <div class="col-md-6">
              <input id="password" placeholder="Password" type="text" class="form-control">
          </div>
        </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="float-end">
            <a href="#" class="btn btn-primary btn-sm">Check connection</a>
            <a href="#" class="btn btn-success btn-sm">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">IP Address</th>
            <th scope="col">Port</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>192.168.1.1</td>
            <td>5000</td>
            <td>root</td>
            <td> 
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-pen"></i>
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>192.168.1.2</td>
            <td>5001</td>
            <td>root</td>
            <td>
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-pen"></i>
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>192.168.1.3</td>
            <td>5002</td>
            <td>root</td>
            <td>
              <button class="btn btn-warning btn-sm">
                <i class="bi bi-pen"></i>
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
        
{% endblock %}