{% extends "base.html" %}
{% block body %}

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Add Users</h5>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6">
              <input id="name" placeholder="Name abbreviation" type="text" class="form-control">
          </div>
          <div class="col-md-6">
              <input id="email" placeholder="Email" type="text" class="form-control">
          </div>
      </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <a href="#" class="btn btn-success btn-sm float-end">Add</a>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>marmoun</td>
          <td>mohammad.armoun@reverion.com</td>
          <td> 
            <button class="btn btn-warning btn-sm">
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>marmoun</td>
          <td>mohammad.armoun@reverion.com</td>
          <td>
            <button class="btn btn-warning btn-sm">
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>marmoun</td>
          <td>mohammad.armoun@reverion.com</td>
          <td>
            <button class="btn btn-warning btn-sm">
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}